<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="gitlab-mcconder" value="https://gitlab.com/api/v4/projects/63188031/packages/nuget/index.json" />
  </packageSources>
    <packageSourceCredentials>
        <gitlab-mcconder>
            <add key="Username" value="%NUGET_USERNAME%" />
            <add key="ClearTextPassword" value="%NUGET_PASSWORD%" />
        </gitlab-mcconder>
    </packageSourceCredentials>
</configuration>